.bg-color{
    background-color: #E5E5E5;
    height: auto;
}
.form-bg-color{
    background-color: #ffffff;
}
.br-style{
    border: none;
}
.reg-form{
    margin: 30px 100px;
}
.reg-form input{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}